.newTask {
  display: flex;
  justify-content: center;
}

.newTask__input > .MuiSvgIcon-root {
  display: flex;
  color: var(--main-color);
  width: 22px;
  height: 22px;
}

.newTask__container {
  position: fixed;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
}

.newTask__input {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
}

.newTask__addTask {
  display: flex;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 50px;
  margin-top: 15px;
  height: 25px;
}

.newTask__addTaskBtn {
  color: var(--main-color) !important;
  padding: 0 !important;
  color: var(--main-color) !important;
}

.newTask__inputField {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: inherit;
  font-weight: 500;
  margin-left: 5px;
}

.newTask__tasks {
  margin-left: 7px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}

.newTask__tasks > small {
  font-weight: 400;
}

.newTask__tasks > ul {
  margin-bottom: 5px;
  margin-left: -10px;
}

.newTask__form {
  display: flex;
  justify-content: center;
  flex: 1;
}

.newTask__btn {
  display: flex;
  background-color: var(--main-color) !important;
  color: white !important;
  font-weight: 600 !important;
  font-variant: inherit !important;
  margin-top: 20px !important;
  font-size: 15px !important;
  text-transform: none !important;
}

/* Desktop view */
@media only screen and (min-width: 768px) {
  .newTask__container {
    width: 400px;
  }
}
